[Desktop Entry]
Name=CDP Chrome
Comment=Launch Chrome with remote debugging enabled
Exec=cdpchrome
Icon=cdpchrome
Terminal=false
Type=Application
Categories=Development;WebBrowser;
